.site-header {
  position: relative;
  padding: 1em;
  font-family: $font__main;
  color: #fff;
  background-color: $color__skin;

  @media screen and (min-width: $query__small) {
    padding: 1em 2em;
  }
}

.site-branding {
    justify-content: center;
    min-height: 65px;
    width: 100%;
}

#polylang-2 {
  float: right;
  margin: -17px -39px -35px 0;
}

#search-2 {
    min-width: 300px;
}

@media screen and (min-width: 1015px) {
  .site-branding-text {
    float: left;
    height: 65px;
    width: 33%;
  }

  .custom-logo-link {
    float: left;
    width: 33%;
    margin-right: 1em;
    img {
        display: block;
      }
  }

  .search-translate {
    width: 31%;
    float: left;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1014px) {
  .site-branding-text {
    display: none;
  }
  .custom-logo-link {
    float: left;
    width: 50%;
    margin-right: 1em;
    img {
        display: block;
      }
  }
  .search-translate {
    width: 45%;
    float: left;
    margin-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .site-branding-text {
    display: none;
  }
  .custom-logo-link {
    width: 100%;
    padding-top: 42px;
    img {
        display: block;
      }
  }
  .search-translate {
    width: 75%;
    margin: 29px 0 0 0px;
  }
  .search-submit {
      margin-left: 10px;
  }
  #polylang-2 {
    float: left;
    margin: -17px 105px -35px 0;
  }
  .search-form {
    margin: 0 15px 0 0;
  }
}


.site-title {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-weight: 900;
  line-height: 1em;

  a {
    color: white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site-description {
  margin: 6px;
  font-size: .9em;
  font-style: italic;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65px;
}

@media screen and (min-width: $query__small) {
  site-branding {
    width: 35%;
    flex: 1 0 auto;
  }
}

@media screen and (min-width: $query__medium) {
  .site-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .site-navigation {
    width: 55%;
  }
}

/*
Header Menu
*/
@import "header-menu";
