.sol-info {
  justify-content: left;
  text-align: left;
  float: left;
  width: 33%;
}

#mc_embed_signup {
  float: left;
  width: 33%;
}

#mc-embedded-subscribe {
  margin-top: 10px;
}
.site-footer {
  position: relative;
  padding: 1em 2em 3em 2em;
  font-family: $font__main;
  color: #fff;
  background-color: $color__skin;
  text-align: center;
}

@media screen and (max-width: $query__medium) {
  .sol-info {
    width: 100%;
    text-align: center;
  }
  #mc_embed_signup {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
    .menu-social-english-container {
    width:100%;
    text-align: center;
    margin: 30px 0;
  }
}

@media screen and (min-width: 901px) {
  .menu-social-english-container {
    float: left;
    width: 32%;
  }
}

.menu-social-english-container {
  ul {
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
    a {
      display: block;
      padding: .5em 1em;
      color: white;
      text-decoration: none;
      }
    a:hover, a:focus {
        text-decoration: underline;
      }
    }
}

.report-incident {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px 10px 0 10px;
  margin-bottom: -15px;
  background: $sol__yellow;
  width: 100%;
}
